{% extends "nav.html" %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="container-fluid">
    <div class="row p-2 pt-4 g-4 d-flex justify-content-center">
        <div id="hardware-pie" style="height: 80vh"></div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        response = await get("/api/example_plugin/graph");
        data = await response.json();
        var options = {
            series: data.series,
            labels: data.labels,
            chart: {
                type: "donut",
                height: "100%",
            },
            title: { text: "Hardware", style: { color: "#FFFFFF" } },

            legend: {
                labels: {
                    colors: "#FFFFFF",
                },
            },
        };

        var chart = new ApexCharts(
            document.querySelector("#hardware-pie"),
            options,
        );
        chart.render();
    });
</script>
{% endblock content %}
