default_language_version:
  python: python3.13 # mypy pydantic-core doesn't compile with python3.14
ci:
  skip:
    - uv-lock
    - pytest
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.27
    hooks:
      - id: uv-lock
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        name: check-yaml for mkdocs.yml
        files: ^mkdocs\.yml$
        args: [--unsafe]
      - id: check-yaml
        name: check-yaml for other YAML files
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          [
            fastapi==0.117.1,
            joserfc==1.6.1,
            pydantic-settings==2.12.0,
            pytest-asyncio==1.3.0,
          ]
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest tests/unit
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.13"
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@1.8.3"]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        files: \.(html|md|yml|yaml)$
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-jinja
      - id: djlint-jinja
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
