default_language_version:
  python: python3.14
ci:
  skip:
    - uv-lock
    - pytest
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.27
    hooks:
      - id: uv-lock
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        name: check-yaml for mkdocs.yml
        files: ^mkdocs\.yml$
        args: [--unsafe]
      - id: check-yaml
        name: check-yaml for other YAML files
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          [
            anyio==4.11.0,
            fastapi==0.117.1,
            joserfc==1.3.4,
            pydantic==2.11.9,
            pydantic-settings==2.10.1,
            pytest-asyncio==1.2.0,
            types-pyyaml==6.0.12.20250915,
          ]
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0 # You can specify the version of Flake8 you want to use
    hooks:
      - id: flake8
        additional_dependencies: []
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.2.0"
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@1.8.3"]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        files: \.(html|md|yml|yaml)$
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-jinja
      - id: djlint-jinja
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
