{% extends "nav.html.jinja" %}
{% block content %}
    <div class="container-fluid">
        <div class="row p-2 d-flex justify-content-center" id="stats-cards">
            <div class="col-6" id="device-count-card" hidden>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Device Count</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text" id="device-count"></h6>
                    </div>
                </div>
            </div>
            <div class="col-6" id="software-count-card">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Software Count</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-text" id="software-count"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('goosebit_simple_stats_static', path='js/stats.js') }}"></script>
{% endblock content %}
