{% extends "nav.html.jinja" %}
{% block content %}
    <div class="container-fluid">
        <div class="row p-2 d-flex justify-content-center">
            <div class="col">
                <table id="device-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Up</th>
                            <th>UUID</th>
                            <th>Name</th>
                            <th>Model</th>
                            <th>Revision</th>
                            <th>Feed</th>
                            <th>Installed Software</th>
                            <th>Target Software</th>
                            <th>Update Mode</th>
                            <th>State</th>
                            <th>Force Update</th>
                            <th>Progress</th>
                            <th>Last IP</th>
                            <th>Last Seen</th>
                        </tr>
                    </thead>
                    <tbody id="devices-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="device-config-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Configure Devices</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form id="device-config-form" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="device-selected-name">Name</label>
                            <input id="device-selected-name" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="device-selected-feed">Feed</label>
                            <input id="device-selected-feed"
                                   class="form-control"
                                   placeholder="Feed"
                                   required />
                            <div class="invalid-feedback">
                                Feed missing. Use "default" if working with a single
                                feed.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="selected-sw">Update Mode</label>
                            <select class="form-select" id="selected-sw" required>
                                <option value="" disabled selected>Select software</option>
                            </select>
                            <div class="invalid-feedback">Mode missing.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/devices.js') }}"></script>
{% endblock content %}
