{% extends "nav.html" %} {% block content %}
<div class="container-fluid">
    <div class="row p-2 pt-4 g-4 d-flex justify-content-center">
        {% if "firmware.write" in request.user.permissions %}
        <div class="col col-12">
            <button
                type="button"
                class="btn btn-lg btn-outline-light w-100"
                data-bs-toggle="modal"
                data-bs-target="#upload-modal"
            >
                Upload
            </button>
        </div>
        {% endif %}
        <div class="col">
            <table id="firmware-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody id="firmware-list"></tbody>
            </table>
        </div>
    </div>
</div>

{% if "firmware.write" in request.user.permissions %}
<div class="modal modal-lg fade" id="upload-modal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <ul
                    class="nav nav-underline nav-justified w-100"
                    role="tablist"
                >
                    <li class="nav-item">
                        <button
                            class="nav-link active"
                            aria-current="page"
                            id="upload-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#upload-tab-content"
                            type="button"
                            role="tab"
                        >
                            Upload File
                        </button>
                    </li>
                    <li class="nav-item">
                        <button
                            class="nav-link"
                            id="url-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#url-tab-content"
                            type="button"
                            role="tab"
                        >
                            Remote URL
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="upload-tab-content">
                    <div class="modal-body">
                        <form id="upload-form">
                            <div class="row g-3 row-cols-1">
                                <div id="upload-alerts"></div>
                                <div class="col">
                                    <input
                                        class="form-control"
                                        type="file"
                                        accept=".swu"
                                        id="file-upload"
                                        name="file"
                                    />
                                </div>
                                <div class="col">
                                    <input
                                        class="btn btn-outline-light w-100"
                                        id="file-upload-submit"
                                        type="submit"
                                        value="Upload"
                                    />
                                    <div
                                        class="progress border border-light bg-dark d-none"
                                        style="height: 36px"
                                        role="progressbar"
                                        aria-valuenow="0"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                            id="upload-progress"
                                            style="width: 0%"
                                        >
                                            0%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="url-tab-content">
                    <div class="modal-body">
                        <form id="url-form">
                            <div class="row g-3 row-cols-1">
                                <div id="url-alerts"></div>
                                <div class="col">
                                    <div class="input-group">
                                        <span class="input-group-text"
                                            >File URL</span
                                        >
                                        <input
                                            class="form-control"
                                            type="url"
                                            id="file-url"
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <input
                                        class="btn btn-outline-light w-100"
                                        id="url-submit"
                                        type="submit"
                                        value="Upload"
                                    />
                                    <div
                                        class="progress border border-light bg-dark d-none"
                                        style="height: 36px"
                                        role="progressbar"
                                        aria-valuenow="0"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div
                                            class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                            id="url-progress"
                                            style="width: 0%"
                                        >
                                            0%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{{ url_for('static', path='js/util.js') }}"></script>
<script src="{{ url_for('static', path='js/firmware.js') }}"></script>
{% endblock content %}
