{% extends "nav.html.jinja" %}
{% block content %}
    <div class="container-fluid">
        <div class="row p-2 d-flex justify-content-center">
            <div class="col">
                <table id="rollout-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Created</th>
                            <th>Name</th>
                            <th>Feed</th>
                            <th>Firmware File</th>
                            <th>Firmware Version</th>
                            <th>Paused</th>
                            <th>Success Count</th>
                            <th>Failure Count</th>
                        </tr>
                    </thead>
                    <tbody id="rollouts-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="rollout-create-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Rollout</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form id="rollout-form" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="rollout-selected-name">Name</label>
                            <input id="rollout-selected-name"
                                   class="form-control"
                                   placeholder="Release 1" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="rollout-selected-feed">Feed</label>
                            <input id="rollout-selected-feed"
                                   class="form-control"
                                   placeholder="qa"
                                   required />
                            <div class="invalid-feedback">
                                Feed missing. Use "default" if working with a single
                                feed.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="selected-fw">Firmware</label>
                            <select class="form-select" id="selected-fw" required>
                                <option value="" disabled selected>Select firmware</option>
                            </select>
                            <div class="invalid-feedback">Select firmware for the rollout.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-light">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/rollouts.js') }}"></script>
{% endblock content %}
