{% extends "nav.html.jinja" %}
{% block content %}
    <div class="container-fluid">
        <div class="row p-2 d-flex justify-content-center">
            <div class="col">
                <table id="rollout-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Created</th>
                            <th>Name</th>
                            <th>Feed</th>
                            <th>Software File</th>
                            <th>Software Version</th>
                            <th>Paused</th>
                            <th>Success Count</th>
                            <th>Failure Count</th>
                        </tr>
                    </thead>
                    <tbody id="rollouts-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if compare_permissions(["rollout.write"], request.user.permissions) %}
        <div class="modal" id="rollout-create-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Rollout</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <form id="rollout-form" class="needs-validation" novalidate>
                        <div class="modal-body">
                            <div class="form-group mb-3">
                                <label for="rollout-selected-name">Name</label>
                                <input id="rollout-selected-name"
                                       class="form-control"
                                       placeholder="Release 1" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="rollout-selected-feed">Feed</label>
                                <input id="rollout-selected-feed"
                                       class="form-control"
                                       placeholder="qa"
                                       required />
                                <div class="invalid-feedback">
                                    Feed missing. Use "default" if working with a single
                                    feed.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="selected-sw">Software</label>
                                <select class="form-select" id="selected-sw" required>
                                    <option value="" disabled selected>Select software</option>
                                </select>
                                <div class="invalid-feedback">Select software for the rollout.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-light">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="modal modal-lg fade" id="rollout-create-modal">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        Unavailable
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning m-0" role="alert">You do not have permission to add rollouts.</div>
                        <form id="rollout-form">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script src="{{ url_for('static', path='js/rollouts.js') }}"></script>
{% endblock content %}
