name: GitHub Pages

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/update-docs.ya?ml"
      - "mkdocs.ya?ml"
      - "uv.lock"
      - "pyproject.toml"
      - "docs/**"

env:
  SITE_URL: https://upstreamdatainc.github.io/goosebit

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Deploy website
        run: uv run mkdocs gh-deploy --theme material --force --no-history
